<div class="d-block form-inline text-center mt-3 mb-3">
  <input type="text"
         class="form-control d-inline-block"
         placeholder="Search by name"
         (keyup)="searchByTitle(title)"
         #title>
         <div class="d-block form-inline text-center mt-3 mb-3">
</div>
  <input type="text"
         class="form-control d-inline-block"
         placeholder="New Todo Item"
         #todoTitle>
  <button class="btn btn-primary"
          (click)="addNewTodoItem(todoTitle)">Add</button>
</div>

<ul class="list-group">
    <li  class="list-group-item col-md-4">
      <span class="col-md-4" (click)="sortItem('completed')">Completed</span>
      <span class="col-md-4" (click)="sortItem('new')">IsNew</span>
      <span class="col-md-4" (click)="sortItem('name')">Name</span>
    </li>
    <li *ngFor="let item of filteredItems" class="list-group-item">
      <span *ngIf="item.isNew && !item.completed" class="col-sm-1 list-group-item--pending">P</span>
      <span *ngIf="item.completed" class="col-sm-1">C</span>
      <input type="checkbox"
             [checked]="item.completed"
             (change)="toggleCompleted(item.id)">

      <span class="col-md-4" [ngClass]="{
          'list-group-item--pending': item.isNew,
          'list-group-item--stroked': item.completed}">{{item.title}}</span>
       <button class="close text-danger"
               (click)="removeItem(item.id)">&times;</button>
    </li>
</ul>
